body{
    background-image: url("image/pexels-quang-nguyen-vinh-2563129.jpg");
    background-size: cover;
    background-repeat: repeat;
}
.navbar{
    height: 8vh;
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
    display: flex;
    align-items: center ;
    flex-direction: row;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: whitesmoke;
    transition: 0.8ms;

}
h2{
    cursor: pointer;
    transition: 0.8ms;
}
a:hover{
    color: blue;
}
h2:hover{
color: blue;
}
label{
color: white;
}